.about-img{
width: 100%;
height:120px;
border-radius: 5px;
object-fit: cover;
}
.about-flex{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.btn-width{
    width:200px;
    margin: 0 !important;
    
}
.fa-6{
    font-weight: 600 ;
}