.card {
      width: 300px;
      height:280px;
      margin:20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-container{
      display: flex;
    align-items: center;
    justify-content: center;
}
.quote-img{
  width: 20px;
}
