header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* ensures it's on top of other elements */
  background-color: white; /* or any color */
}
.nav-list{
padding: 5px 20px 0 0;
color:#787d7d;
font-weight: 400;
text-transform: capitalize;
}
.login-nav-list{
padding: 5px 5px 0 0;
color:#787d7d;
font-weight: 400;
text-transform: capitalize;
}
.login-nav-list:hover{
color:#833AB4;
}
.text-capitalize{

text-transform: capitalize;
}
.nav-list:hover{
color:#833AB4;
}
.logi{
  background-color: #833AB4;
  color:white;
  padding: 5px 20px;
  border-radius: 20px;

}
 .logout{
  font-weight:100;
  
 }
.profile{
      background: rgba(253, 29, 29, 1);
    height:45%;
    border-radius: 50%;
    color:white;
    font-size: larger;
    width:30px;
        display: flex
;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
}
.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;

}
.head{
  border:1px solid #f3ebeb
}
.pad10{
  padding-left: 15px;
}
.logi:hover{
 background-color: white;
  color: #833AB4;
  border:1px solid #833AB4;
}/* In Header.css or a relevant CSS file */

.profile-menu {
  position: absolute;
  right: 30px; /* Adjust based on where you want the menu to appear */
  top: 40px;  /* Adjust the distance from the profile icon */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 20%;
  
  margin-top: 25px;
  border-radius: 5px;
  z-index: 1000; /* Make sure the dropdown appears on top */
}
.list-type{
  list-style: none;
}
.list-profile{
  margin:0 !important;
  padding:4px !important
}
ul{
  padding: 0%;
}
.pro{
      justify-content: left;
    gap: 10px;
    padding:10px !important
}
.pb-15{
  
  padding-bottom: 15px;
}
.fa-10{
    
    font-size: medium;
}
.icons{
 font-weight: 100;
}