body{
    margin:0
}
.food-img{
    width:100%;
    height:350px;
    border-radius: 10px;
    object-fit: cover;
    top: 100px; 
    position: sticky;
}
 
.sub-list{
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        padding: 10px;
        border-radius: 5px;
}
.text-center {
    text-align: center;  
}
.sub-list1{
     color:#833AB4;
     font-weight: 200;
     text-transform: capitalize;
}
.mb-0{
    margin-bottom:0 !important;
}
.ternary{
color: #787d7d;
}
.mt-0{
    margin-top: 0 !important;
}
.new_flex{
        display: flex;
    margin-top: 32px;
}
.reci-name{
    color:rgba(253, 29, 29, 1);
    
}