@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.search {
    border: 1px solid #050504;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    font-size: 15px;
}
.back{
    background-color: #833AB4 !important;
}

.search1 {
    border: 1px solid #833AB4;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    justify-content: center;
    font-size: 15px;
}
.search1:focus{
     border: 2px solid #833AB4 !important;
     outline: none;
}
.new_rec:hover{
    color: #833ab4 !important;;
}
.caro-img{
    height: 158px !important;
}
.flex-center{
    display: flex !important;
    justify-content: center !important;
}
.green{
    color:green
}
.showAll{
  border-radius: 50%;
 padding: 10px;
 color:white;
 background-color: rgba(253, 29, 29, 1);
 cursor: pointer;
  
}
.stack{
    padding-bottom:20px ;
}
.flex{
    align-items: center;
    display: flex;
    justify-content: center;
}
.log{
        display: flex;
    align-items: center;
    padding:0px 20px;
    gap:10px;

}
.log2{
        display: flex;
    align-items: center;
    gap:10px;

}
.logo{
    font-size: 50px;
    color:rgba(253, 29, 29, 1)
}
.title-icon{
  font-size: 45px;
    color:#833AB4;
     letter-spacing: 2px;
     font-weight: 100;
}
.center{
     display: flex;
  justify-content: center;
  align-items: center;
}
.title{
    letter-spacing: 2px;
}.title1{
     color:#787d7d;
    
}
.mar-0{
    margin: 0;
}
.rec{
    padding-top:10px !important;
}
.title2{
     margin-top: 0 !important;
}
.pad-20{
    padding: 20px;
}
.pad-30{
    padding: 30px;
}
.recipe-img {
  opacity: 0.6;
}

.recipe-img:hover {
  opacity: 1.0;
}
.pad-10{
 padding: 10px;
}
.pad-10-top{
    padding: 0px 10px 10px 10px;
}

.view{
    background-color:rgba(253, 29, 29, 1) !important ;
    text-transform: capitalize !important;
    margin-bottom: 15px !important;
    margin-left:10px !important;
     border-radius: 18px !important;
}
.view:hover{
  color:rgba(253, 29, 29, 1) !important ;  
  background-color: white !important;
  border:1px solid rgba(253, 29, 29, 1) !important;
}
.cate-pad{
    padding: 30px 20%;
}
.view1{
    color:rgba(253, 29, 29, 1) !important ;  
  background-color: white !important;
    text-transform: capitalize !important;
    margin-bottom: 15px !important;
    margin-left:10px !important;
    font-weight: 700 !important;
    border-radius: 18px !important;
}
.view1:hover{
  color:white !important ;  
  background-color: rgba(253, 29, 29, 1)!important;
  border:1px solid rgba(253, 29, 29, 1) !important;
}

.search:focus {
   border: 2px solid #1a1919 !important;
    outline: none;
}
.border-bottom{
    
 border-bottom: 2px solid #9ea3a3;
}
.recipe-list{
    padding:20px;
}
.finder{
    color:#833AB4;
    font-weight: 300;
}
.selected{
    color:rgba(253, 29, 29, 1) !important;
    
    border-bottom: 2px solid rgba(253, 29, 29, 1);
}
.width{
    width:100%;
}
.banner{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height:350px;
    color:white;
    position: relative;
    background-image: url('./assets/banner.jpg');
    background-size: cover;
}
.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  pointer-events: none;
  z-index: 0; 
}

.banner > div {
  position: relative;
  z-index: 1;
}
.subtitle{
    margin: 0 !important;
    padding-bottom: 0px !important;
    font-size: 30px;
}


.text-decoration{
    text-decoration: none;
}
.orangish{
    color: rgba(253, 29, 29, 1);
 
}


.text-center {
    text-align: center;
}


.sub-head{
    color:#9ea3a3;
}
.capitalize{
    text-transform: capitalize;
}
.text-search {
    height: 100vh;
}

.recipess {
    padding: 0px 120px;
}
.mar-15{
        margin-top: 15px;
}
.mar-0{
margin: 0;
}
.pad{
    padding:20px;
    font-size: large;
    text-transform: capitalize;
}
.fa-10{
    font-weight: 500;
}
.font-large{
    font-size: large;
}
.pad:hover{
background-color: #ebeeee;
border-bottom:2px solid rgba(253, 29, 29, 1);
color: rgba(253, 29, 29, 1);
}
.flex{
    display: flex;
}
.error{
    color:red;
    font-size: 30px;
    padding: 10px;
}
.err-text{
    letter-spacing: 1px;
}
.space-between{
     justify-content: space-between;
}
.red{
    color:rgb(219, 10, 10);
}
.padtop-20{
    padding-top: 30px;
}
   
.recipe-item {
 height:340px; 
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
     transition: transform 0.3s ease; 
}
.recipe-item:hover{
    transform: scale(1.05); /* Slight zoom on hover */
  cursor: pointer;
}
.marque{
 box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
      width: 250px;
 
}
.marque:hover{
    transform: scale(1.05); /* Slight zoom on hover */
  cursor: pointer;
}
.purple{
    color:#833AB4;
}
.bg-black{
  background-color: #050504;
  color:#ebeeee
}
input:focus {
    border-color: blue;
    background-color: white;
    /* keep background same */
}

/* To remove autofill background in Chrome */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
}
.card-desc{
        height: 80px;
}
.link-recipe{

}
.pad-bottom{
    padding-bottom: 10px;
}

.food-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.padding{
    padding: 10px !important;
}
.justify-end{
    justify-content: end;
}
.justify-center{
    justify-content: center;
}
.cov  {
  padding-bottom: 3rem;
  background-color: #833AB4;
  color:black !important;
  width:300px !important;
}
@media (max-width:899px) {
.food-image {
   object-fit: cover;
    
}
    
}